**Biblioteca do Google.Colab para montar o meu Drive**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

**Importando o arquivo CSV ou Excel**

In [ ]:
bd = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Teste.xlsx')

**Limpeza dos dados, dropando as colunas que desejo**

In [ ]:
bd.drop('Unnamed: 1', axis=0, inplace=True)

**Limpando as linhas que desejo**

In [ ]:
bd.drop(index=1,axis=1,inplace=True)

In [ ]:
bd

  Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5
2          a          b          c          d
3          1         10          7          2
4          5          9          9          9
5          2          8          3          4
6          8          6          4          7

In [ ]:
bd.to_excel('Teste_Update.xlsx')

**Importando dados web de um banco**

In [ ]:
# Usando o método read_html do pandas
bk = pd.read_html('https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/index.html')

In [ ]:
#Mostrando apenas a coluna dos nomes dos bancos
bk[0]['Bank NameBank']

0                      Almena State Bank
1             First City Bank of Florida
2                   The First State Bank
3                     Ericson State Bank
4       City National Bank of New Jersey
                     ...
558                   Superior Bank, FSB
559                  Malta National Bank
560      First Alliance Bank & Trust Co.
561    National State Bank of Metropolis
562                     Bank of Honolulu
Name: Bank NameBank, Length: 563, dtype: object

In [ ]:
casos = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv")

In [ ]:
casos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279 entries, 0 to 278
Columns: 537 entries, Province/State to 7/7/21
dtypes: float64(2), int64(533), object(2)
memory usage: 1.1+ MB

In [ ]:
casos.head()

  Province/State Country/Region       Lat  ...  7/5/21  7/6/21  7/7/21
0            NaN    Afghanistan  33.93911  ...  125937  127464  129021
1            NaN        Albania  41.15330  ...  132537  132544  132557
2            NaN        Algeria  28.03390  ...  141966  142447  143032
3            NaN        Andorra  42.50630  ...   13918   13991   14021
4            NaN         Angola -11.20270  ...   39300   39375   39491

[5 rows x 537 columns]

**Procurando por um determinado país, passando como parâmetro o nome da coluna**

In [ ]:
##Traz um vetor de respostas com True e false, mostrando a linha onde esse dado está localizado

In [ ]:
casos['Country/Region'] =='Albania'

0      False
1       True
2      False
3      False
4      False
       ...
274    False
275    False
276    False
277    False
278    False
Name: Country/Region, Length: 279, dtype: bool

**Extraindo apenas dados do país Brasil e da coluna do dia 7/7/21**

In [ ]:
casos[casos['Country/Region'] =='Brazil']['7/7/21']

30    18909037
Name: 7/7/21, dtype: int64

**Pesquisando o país com o maior número de casos do dia 7/7/21**

In [ ]:
casos['7/7/21'].max()

33770444

**Pesquisando pelo ID do país com o maior número de casos**

In [ ]:
casos['7/7/21'] ==casos['7/7/21'].max()

0      False
1      False
2      False
3      False
4      False
       ...
274    False
275    False
276    False
277    False
278    False
Name: 7/7/21, Length: 279, dtype: bool

In [ ]:
casos[casos['7/7/21'] ==casos['7/7/21'].max()]

    Province/State Country/Region   Lat  ...    7/5/21    7/6/21    7/7/21
254            NaN             US  40.0  ...  33723289  33747513  33770444

[1 rows x 537 columns]

**Pesquisando o país com o menor número de casos do dia 7/7/21**

In [ ]:
casos[casos['7/7/21'] ==casos['7/7/21'].min()]

       Province/State Country/Region    Lat  ...  7/5/21  7/6/21  7/7/21
41   Diamond Princess         Canada  0.000  ...       0       0       0
88            Unknown          China    NaN  ...       0       0       0
207               NaN          Palau  7.515  ...       0       0       0

[3 rows x 537 columns]

**Média de casos do dia 7/7/21**

In [ ]:
casos.groupby('7/6/21').mean()

                Lat        Long  1/22/20  ...      7/4/21      7/5/21      7/7/21
7/6/21                                    ...
0          3.757500   67.291250      0.0  ...         0.0         0.0         0.0
1          5.960533   26.288500      0.0  ...         1.0         1.0         1.0
2         -3.370400 -168.734000      0.0  ...         2.0         2.0         2.0
3        -13.759000 -172.104600      0.0  ...         3.0         3.0         3.0
4         -5.397300  107.929267      0.0  ...         4.0         4.0         4.0
...             ...         ...      ...  ...         ...         ...         ...
5591030   61.524010  105.318756      0.0  ...   5544209.0   5568104.0   5614540.0
5720593   46.227600    2.213700      0.0  ...   5717831.0   5718270.0   5724395.0
18855015 -14.235000  -51.925300      0.0  ...  18769808.0  18792511.0  18909037.0
30663665  20.593684   78.962880      0.0  ...  30585229.0  30619932.0  30709557.0
33747513  40.000000 -100.000000      1.0  ...  33717761.0  33723289.0  33770444.0

[271 rows x 534 columns]

In [ ]:
casos['7/6/21'].value_counts()

0        3
1        3
4        3
13       2
20       2
        ..
3901     1
56122    1
2226     1
13623    1
4096     1
Name: 7/6/21, Length: 271, dtype: int64